.custom_btn {
    display: flex;
    height: 45px;
    width: fit-content;
    min-width: 140px;
    padding: 10px;
    border-radius: 48px;
    border: none;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: black;
    font-family: var(--font-banner);
    font-weight: 700;
    background: white;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    &:hover {
        cursor: pointer;
        transform: scale(1.02);
    }
    &.variant_regular_light {
        background: white;
        color: black;
    }
    &.variant_regular_dark {
        background: rgb(22, 22, 22);
        color: white;
    }
}